# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
obj/
DerivedDataCache/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp

# IDE
.vscode/
.idea/
.vs/

# Autogenerado por usuario/editor
/[Uu]ser[Ss]ettings/
